{% extends "_base.html" %}
{% block main %}
<div class="notfound">
  <div>
    <p class="code">{{ copy.notfound.code }}</p>
    <h1>{{ copy.notfound.heading }}</h1>
    <p class="muted small">{{ copy.notfound.text }}</p>
    <div class="buttons">
      <a class="btn btn-primary" href="/">{{ copy.notfound.home }}</a>
      <a class="btn btn-quiet" href="/learn/">{{ copy.notfound.learn }}</a>
      <a class="btn btn-quiet" href="/search/">{{ copy.notfound.search }}</a>
    </div>
  </div>
</div>
{% endblock %}
